{% extends 'registration/base.html' %}

{% load static widget_tweaks %}

{% block title %}Por favor Inicie Sesión{% endblock %}

{% block content %}
<form role="form" action="" method="post">
 	<fieldset>
        {% csrf_token %}
        {% if form.errors %}
            <p class="text-danger">Por favor, introduzca un nombre de usuario y clave correctos. Observe que ambos campos pueden ser sensibles a mayúsculas.</p>
        {% endif %}
        <div class="form-group">
            {% render_field form.username class="form-control" placeholder="Usuario" %}
        </div>
        <div class="form-group">
            {% render_field form.password class="form-control" placeholder="Contraseña" %}
        </div>
        <div class="form-group">
            <a href="{% url 'password_reset' %}">Recuperar contraseña</a>
        </div>
        <button type="submit" class="btn btn-lg btn-success btn-block">Iniciar Sesión</button>
    </fieldset>
</form>
{% endblock %}