{% extends 'registration/base.html' %}

{% load static widget_tweaks %}

{% block title %}Cambiar contraseña{% endblock %}

{% block content %}
  {% if validlink %}
    <form method="post">
      <fieldset>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-lg btn-success btn-block">Cambiar contraseña</button>
      </fieldset>
    </form>
  {% else %}
    <p>
      El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se utilizó. Solicite un nuevo restablecimiento de contraseña.
    </p>
  {% endif %}
{% endblock %}